#Git Ignore file

#OS Stuff
#
.directory

# IDE Stuff
#
.idea

# Solr stuff
#
solr/solr-6.2.1

data-solr/manifestations
data-solr/locations
data-solr/all
data-solr/images
data-solr/institutions
data-solr/comments
data-solr/people
data-solr/resources
data-solr/works
data-solr/manifestations_stage
data-solr/locations_stage
data-solr/all_stage
data-solr/images_stage
data-solr/institutions_stage
data-solr/comments_stage
data-solr/people_stage
data-solr/resources_stage
data-solr/works_stage

solr-emlo/solr/home/*/core.properties

# Logs
#
logs/*.log

# Python stuff
#
pylons-emlo/emlo/**/*.pyc

# Temp data stuff
#
data/*.csv
data/*.csv.bak
cache