solr/solr-6.2.1

solr-emlo/solr/home/manifestations/data
solr-emlo/solr/home/locations/data
solr-emlo/solr/home/all/data
solr-emlo/solr/home/images/data
solr-emlo/solr/home/institutions/data
solr-emlo/solr/home/comments/data
solr-emlo/solr/home/people/data
solr-emlo/solr/home/resources/data
solr-emlo/solr/home/works/data
solr-emlo/solr/home/manifestations_stage/data
solr-emlo/solr/home/locations_stage/data
solr-emlo/solr/home/all_stage/data
solr-emlo/solr/home/images_stage/data
solr-emlo/solr/home/institutions_stage/data
solr-emlo/solr/home/comments_stage/data
solr-emlo/solr/home/people_stage/data
solr-emlo/solr/home/resources_stage/data
solr-emlo/solr/home/works_stage/data

pylons-emlo/emlo/**/*.pyc

