solr/solr-6.2.1

solr-emlo/solr/home/manifestations/data
solr-emlo/solr/home/locations/data
solr-emlo/solr/home/all/data
solr-emlo/solr/home/images/data
solr-emlo/solr/home/institutions/data
solr-emlo/solr/home/comments/data
solr-emlo/solr/home/people/data
solr-emlo/solr/home/resources/data
solr-emlo/solr/home/works/data
solr-emlo/solr/home/manifestations-stage/data
solr-emlo/solr/home/locations-stage/data
solr-emlo/solr/home/all-stage/data
solr-emlo/solr/home/images-stage/data
solr-emlo/solr/home/institutions-stage/data
solr-emlo/solr/home/comments-stage/data
solr-emlo/solr/home/people-stage/data
solr-emlo/solr/home/resources-stage/data
solr-emlo/solr/home/works-stage/data

