#chart {
	z-index:100;
	background-color: white;
	position:relative;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	padding: 5px;
}

.chart {
	margin-left: 2px;
	margin-bottom: 10px;
}
.label {
	font-size: 10px;
	font-family: "Times New Roman", serif;
}
.chart-title {
	margin-left:0;
	margin-bottom:10px;
	margin-top:10px;
	font-size:14px;
	-font-weight: bold;
	color:#172854
}
.chart rect {
	stroke-width:0;
	stroke: white;
}

.bar.creator { fill: #2E527E; }
.bar.recipient { fill: #5A7CA5; }
.bar.mentioned { fill: #A7BFD6; }

.bar.creator.unknown { fill: #7E7E7E; }
.bar.recipient.unknown  { fill: #A5A5A5; }
.bar.mentioned.unknown { fill: #D6D6D6; }

.axis path,
.axis line {
	fill: none;
	stroke: #b3b3b3;
	stroke-width:0.5;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
.guideline {
	stroke: #EFC319;
	stroke-width: 0.3;
}

.bar:hover { fill: #EFC319; }
.bar.creator.unknown:hover { fill: #8E8E8E; }
.bar.recipient.unknown:hover { fill: #B5B5B5; }
.bar.mentioned.unknown:hover { fill: #E6E6E6; }

#chart .button-bar { margin-left: 9px;}
#chart .button.highlight {
	background-color: #EFC319;
	color: black;
}